<div class="centrado">
  
  <div class="delimitador-botones">
    <div class="botones-container">
      <button ion-button  class="option-btn" (click)="irAListaDeEspera()" >
        <img src="../../../assets/iconos/verificacion-clientes.png" alt="ícono verificación clientes" class="icono">
        <span class="boton-texto">Verificación de Clientes</span>
      </button>

      <button ion-button class="option-btn" routerLink="/juego/intermedio">
        <img src="../../../assets/iconos/agregar-usuario-admin.png" alt="ícono verificación clientes" class="icono">
        <span class="boton-texto">Alta de Usuarios Dueño/Supervisor</span>
      </button>

      <button ion-button class="option-btn" routerLink="/juego/complicado">
        <img src="../../../assets/iconos/alta-mesa.png" alt="ícono verificación clientes" class="icono">
        <span class="boton-texto">Alta de Mesa</span>
      </button>
      
      <button ion-button class="option-btn" routerLink="/juego/complicado">
        <img src="../../../assets/iconos/notas-usuarios.png" alt="ícono verificación clientes" class="icono">
        <span class="boton-texto">Notas sobre clientes / empleados</span>
      </button>

    </div>
  </div>
</div>