<div class="centrado">
  <div class="delimitador-botones">
    <div class="botones-container">
      <button ion-button class="option-btn" routerLink="/juego/simple"><span class="boton-texto">Ver listado de clientes
          pendientes de aprobación</span></button>
      <button ion-button class="option-btn" routerLink="/juego/intermedio"><span class="boton-texto">Alta de Usuarios
          Dueño/Supervisor</span></button>
      <button ion-button class="option-btn" routerLink="/juego/complicado"><span class="boton-texto">Alta de
          Mesa</span></button>
      <button ion-button class="option-btn" routerLink="/juego/complicado"><span class="boton-texto">Notas sobre
          clientes / empleados, basadas en las encuestas</span></button>
    </div>
  </div>
</div>