<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title *ngIf="sesion.usuarioActual">Detalle de tu Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="centrado">
    <ion-card>
      <ion-card-content>

        <ion-grid>
          <ion-row>
            <ion-col class="table-header" size="2">Cant.</ion-col>
            <ion-col class="table-header" size="4">Producto</ion-col>
            <ion-col class="table-header" size="3">Precio Unitario</ion-col>
            <ion-col class="table-header" size="3">Subtotal</ion-col>
          </ion-row>
          <ion-row *ngFor="let producto of listaPedidos">
            <ion-col class="table-data alinear-derecha" size="2">{{producto.cantidad}}</ion-col>
            <ion-col class="table-data alinear-izquierda" size="4">{{producto.nombreProducto}}</ion-col>
            <ion-col class="table-data alinear-derecha" size="3">{{producto.precioUnitario}}</ion-col>
            <ion-col class="table-data alinear-derecha" size="3">{{producto.subtotal}}</ion-col>
          </ion-row>
        </ion-grid>

        <div>
          <div class="propina">
            <p>Propina: {{ propina }}%</p>
          </div>
          <div class="total-label">
            <span>Total: {{ pedidoService.pedidoUsuario?.precioTotal | currency }}</span>
          </div>
        </div>

        <div class="escaneaQR">
          <button (click)="qrService.escanear()">
            <img src="../../../assets/iconos/pago.png" alt="">
            <span>Escanea el código QR<br/>para agregar propina</span>
          </button>
        </div>


        <ion-button expand="block" color="primary" (click)="pagarCuenta(pedidoService.pedidoUsuario!)" style="margin-top: 16px;">
          <ion-text color="light">Pagar cuenta</ion-text>
        </ion-button>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<app-tabs [usuario]="sesion.usuarioBD"></app-tabs>
