<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title *ngIf="sesion.usuarioActual">
      Precio acumulado: ${{ precioAcumulado }}
      <br />
      Tiempo estimado: {{ tiempoDeEspera }} min.
    </ion-title>
    <ion-buttons>
      <ion-button (click)="finalizarPedido()" fill="solid" style="--background: transparent;">
        <ion-icon name="checkbox" slot="icon-only" style="font-size: 45px;" color="tertiary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="centrado">

    <div class="contenido-general">
      <div *ngIf="menuService.coleccionProductos">
        <div *ngFor="let producto of menuService.coleccionProductos; let i = index">

          <div class="card" style="width: 18rem;">

            <swiper-container effect="cube" loop="true" class="photo-grid" pagination="true">
              <swiper-slide>
                <div class="foto" [style.background-image]="'url(' + producto.imagenUno + ')'">
                </div>
              </swiper-slide>
              <swiper-slide>
                <div class="foto" [style.background-image]="'url(' + producto.imagenDos + ')'">
                </div>
              </swiper-slide>
              <swiper-slide>
                <div class="foto" [style.background-image]="'url(' + producto.imagenTres + ')'">
                </div>
              </swiper-slide>
            </swiper-container>

            <div class="card-body producto-tituloydesc">
              <h5 class="card-title">{{ producto.nombre }}</h5>
            </div>
            <ul class="list-group list-group-light list-group-small">
              <li class="list-group-item px-4">{{producto.descripcion}}</li>
              <li class="list-group-item px-4">Tiempo de preparación: {{producto.tiempo_preparacion}} min.</li>
              <li class="list-group-item px-4 precio"><strong class="inner-precio">Precio: ${{producto.precio}}</strong></li>
            </ul>

            <div class="card-body contenedor-agregar">
              <div class="counter">
                <button (click)="decrementarCantidad(producto.id)" class="btn">-</button>
                <span class="value">{{ cantidadesPedido[producto.id] || 0 }}</span>
                <button (click)="incrementarCantidad(producto.id)" class="btn">+</button>
              </div>
              <button class="btn agregar-producto"
                (click)="agregarProducto(producto.id, producto.precio, producto.nombre, producto.sector, producto.tiempo_preparacion)">
                <span>+</span>
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</ion-content>

<app-tabs [usuario]="sesion.usuarioBD"></app-tabs>