
.contenedor-subidas{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}
.form-container {
    --background-color: #b5a8b1;
    padding: 10px;
    border-radius: 10px;

    ion-icon {
        margin-right: 10px;
    }
    ion-input{
        margin: 0;
    }
}

.avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

//BOTONES
.btn-scanner, .btn {
    --background: #B692C2;
}
.btn-estilos {
    margin-top: 5px;
    font-weight: bold;
    color: white; //color de letra
    background: #B692C2;
    border-radius: 20px;
}


ion-icon, p{
    font-weight: 600;
}
.estilo-input {
    background-color: #ffffffe0;
    border-radius: 10px;
    color: black;
    margin-bottom: 10px;
    min-height: 44px;
   
}



//MENSAJES ERROR
.error-message p {
    color: red;
    font-weight: 900;
    display: block;

}

p {
    margin: 0;
    text-align: center;
}

.error-message {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    // color: red;
    min-height: 1.5em;
    visibility: hidden;
}

.error-message.visible {
    opacity: 1;
    visibility: visible;
}
// .hidden {
//     visibility: hidden;
// }


//ICONOS
ion-icon {
    width: 35px;
    color: black;
}

