<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title *ngIf="sesion.usuarioActual">
      Estado del pedido: {{ pedidoService.pedidoUsuario?.estadoPedido }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="centrado">
  
    <div class="delimitador-botones">
      <div class="botones-container">
        <button *ngIf="pedidoService.pedidoUsuario?.estadoPedido !== 'finalizado'" ion-button  class="option-btn" [routerLink]="['/menu', pedidoService.pedidoUsuario?.id]">
          <img src="../../../assets/iconos/plato.png" alt="ícono verificación clientes" class="icono">
          <span class="boton-texto">Realizar el pedido</span>
        </button>
  
        <button ion-button class="option-btn" [routerLink]="['/chat', pedidoService.pedidoUsuario?.id]">
          <img src="../../../assets/iconos/chat.png" alt="ícono verificación clientes" class="icono">
          <span class="boton-texto">Consultas a los mozos</span>
        </button>
  
        <button ion-button class="option-btn" routerLink="/juego/complicado">
          <img src="../../../assets/iconos/juegos.png" alt="ícono verificación clientes" class="icono">
          <span class="boton-texto">Juegos</span>
        </button>

        <button *ngIf="pedidoService.pedidoUsuario?.estadoPedido === 'finalizado'" ion-button  class="option-btn" >
          <img src="../../../assets/iconos/encuesta.png" alt="ícono verificación clientes" class="icono">
          <span class="boton-texto">Completar Encuesta</span>
        </button>
  
      </div>
    </div>
  </div>

</ion-content>

<app-tabs [usuario]="sesion.usuarioBD"></app-tabs>