<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title *ngIf="sesion.usuarioActual">
      Inicio | Bienvenid&#64;, {{ sesion.usuarioBD?.nombre}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="centrado">

    <div class="card text-center pedido-info">
      <div class="card-header">
        Estado del pedido:
        <br/>
        <span>{{ pedidoService.pedidoUsuario?.estadoPedido }}</span>
      </div>
      <div class="card-body">
        <!-- <h5 class="card-title">Special title treatment</h5> -->
        <p class="card-text"><strong>Total: $</strong>{{ pedidoService.pedidoUsuario?.precioTotal }}</p>
        <p class="card-text"><strong>Demora estimada: </strong>{{ pedidoService.pedidoUsuario?.tiempoPreparacion + 'min.' }}</p>
        <button class="btn" (click)="confirmarPedido(pedidoService.pedidoUsuario)">Cambia estado pedido</button>
      </div>
      <!-- <div class="card-footer text-muted">2 days ago</div> -->
    </div>

    <div class="delimitador-botones">
      <div class="botones-container">
        <button *ngIf="pedidoService.pedidoUsuario?.estadoPedido === 'Pedido a confirmar'" ion-button class="option-btn"
          [routerLink]="['/menu', pedidoService.pedidoUsuario?.id]">
          <img src="../../../assets/iconos/plato.png" alt="ícono verificación clientes" class="icono">
          <span class="boton-texto">Realizar el pedido</span>
        </button>

        <button ion-button class="option-btn" [routerLink]="['/chat', pedidoService.pedidoUsuario?.id]">
          <img src="../../../assets/iconos/chat.png" alt="ícono verificación clientes" class="icono">
          <span class="boton-texto">Consultas a los mozos</span>
        </button>

        <button ion-button class="option-btn" routerLink="/juego/complicado">
          <img src="../../../assets/iconos/juegos.png" alt="ícono verificación clientes" class="icono">
          <span class="boton-texto">Juegos</span>
        </button>

        <button *ngIf="pedidoService.pedidoUsuario?.estadoPedido === 'Pedido aceptado' && pedidoService.pedidoUsuario?.encuesta === ''" ion-button class="option-btn" [routerLink]="['/pagina-formulario-encuesta']">
          <img src="../../../assets/iconos/encuesta.png" alt="ícono verificación clientes" class="icono">
          <span class="boton-texto">Completar Encuesta</span>
        </button>

        <button *ngIf="pedidoService.pedidoUsuario?.estadoPedido === 'Pedido aceptado'" ion-button class="option-btn" routerLink="/detalle-cuenta">
          <img src="../../../assets/iconos/pedir-cuenta.png" alt="ícono verificación clientes" class="icono">
          <span class="boton-texto">Pedir Cuenta</span>
        </button>

      </div>
    </div>
  </div>
</ion-content>

<app-tabs [usuario]="sesion.usuarioBD"></app-tabs>