.container {
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
}

.centrado {
  width: 100vw;
  height: 100vh;
  flex: auto;
  align-items: center;
  position: relative;
  overflow: hidden; // Asegura que el pseudo-elemento no se desborde
  background: url("../../assets/imagenes/fondo-patron.png") no-repeat fixed
    center;
  z-index: -1; // Asegura que el pseudo-elemento esté detrás del contenido
}

.container-titulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.form-container {
  background-color: #b5a8b1;
  padding: 20px;
  border-radius: 10px;
  height: 55vh;
  margin-top: 3vh;

  .titulo {
    color: #9c1de0;
    font-size: 2.5em;
    margin: 0 1.25rem;
  }
}

.logo {
  width: 25vh;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding: 10px 5px;
}

ion-fab {
  position: fixed !important;
}

ion-fab-list {
  ion-fab-button {
    ion-icon {
      height: 35px;
      width: 25px;
      color: #e0e0e0;
    }
  }
}

.estilo-input {
  background-color: #ffffffe0;
  border-radius: 10px;
  color: black;
  margin-bottom: 10px;
  min-height: 44px;
}

.btn-estilos {
  margin-top: 1em;
  font-weight: bold;
  color: white; //color de letra
  border-radius: 20px;
}

.error-mensaje {
  color: var(--ion-color-danger);
  font-size: 15px;
  text-align: center;
  display: block; /* Asegura que el contenedor del mensaje de error se muestre como un bloque */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}

.horizontal-linea {
  display: flex;
  align-items: center;
  padding-top: 1.3rem; //padding-top: 20px;
  padding-bottom: 0.1rem; //padding-bottom: 15px;
}

.linea {
  flex: 1;
  border-bottom: 2px solid #9c1de0; /* Estilo de la línea */
}

.linea-texto {
  padding: 0 10px; /* Espaciado alrededor del texto */
  color: #9c1de0;
  font-size: 15px;
}

.icono {
  width: auto;
  height: 50px;
}

.error-container {
  min-height: 20px; /* Ajusta según sea necesario */
}

@media only screen and (max-width: 400px) {
  .icon {
    margin-right: 1.5vw;
  }
  .titulo {
    margin: 0 1rem !important;
  }
}
