<div class="centrado">
  <div class="container">
    <ion-card-content>
      <div class="logo">
        <img
          src="../../assets/imagenes/logo-elplatolisto-iso-sin-banda.png"
          alt="logo"
        />
      </div>
      <div class="form-container">
        <div class="container-titulo">
          <img src="../../assets/imagenes/icono-tenedor-blanco.png" class="icono" />
          <h1 class="titulo"><strong>El Plato Listo</strong></h1>
          <img src="../../assets/imagenes/icono-cuchara-blanco.png" class="icono" />
        </div>

        <form [formGroup]="formLogin" (ngSubmit)="iniciarSesion()">
          <ion-item class="estilo-input">
            <ion-icon name="mail" color="secondary" class="icon"></ion-icon>
            <ion-input
              type="email"
              name="email"
              id="email"
              placeholder="Ingrese su correo electrónico"
              formControlName="email"
              style="color: black"
            ></ion-input>
          </ion-item>

          <div class="error-container">
            <ion-note class="error-mensaje" *ngIf="controlConErrores('email')">
              {{ obtenerMensajeError("email") }}
            </ion-note>
          </div>

          <ion-item class="estilo-input">
            <ion-icon name="key" color="secondary" class="icon"></ion-icon>
            <ion-input
              type="{{type}}"
              name="password"
              id="password"
              placeholder="Ingrese su contraseña"
              formControlName="passwordLogin"
              style="color: black"
            >
            </ion-input>
            <ion-button
              *ngIf="isPassword"
              (click)="mostrarOcultarPassword()"
              expand="end"
              fill="clear"
              shape="none"
            >
              <ion-icon
                slot="icon-only"
                [name]="hide ? 'eye-outline' : 'eye-off-outline' "
                class="eye-icon"
                style="width: 2em;"
              ></ion-icon>
            </ion-button>
          </ion-item>
          <div class="error-container">
            <ion-note
              class="error-mensaje"
              *ngIf="controlConErrores('passwordLogin')"
            >
              {{ obtenerMensajeError("passwordLogin") }}
            </ion-note>
          </div>

          <ion-button
            expand="block"
            shape="round"
            type="submit"
            class="btn-estilos"
            [disabled]="formLogin.invalid"
          >
            Iniciar Sesión
          </ion-button>
        </form>

        <div class="horizontal-linea">
          <div class="linea"></div>
          <div class="linea-texto">¿Aún no tienes una cuenta?</div>
          <div class="linea"></div>
        </div>
        <ion-button
          shape="round"
          type="button"
          expand="block"
          class="btn-estilos"
          (click)="registrarse()"
          style="margin-bottom: 1em;"
        >
          Crear cuenta
        </ion-button>
      </div>
    </ion-card-content>
  </div>
</div>
<ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="!cargando">
  <ion-fab-button color="secondary" color="primary">
    <ion-icon name="person-add" class="icon-fab"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button
      (click)="accesoAutomatico('duenio')"
       style="--background: #2E073F"
    >
      <ion-icon name="person-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-button
      (click)="accesoAutomatico('cliente')"
      style="--background: #7A1CAC"
    >
      <ion-icon name="body"></ion-icon>
    </ion-fab-button>
    <ion-fab-button
      (click)="accesoAutomatico('maitre')"
      style="--background: #AD49E1"
    >
      <ion-icon name="glasses"></ion-icon>
    </ion-fab-button>
    <ion-fab-button
      (click)="accesoAutomatico('mozo')"
      style="--background: #4F1787"
    >
      <ion-icon name="footsteps"></ion-icon>
    </ion-fab-button>
    <ion-fab-button
      (click)="accesoAutomatico('cocinero')"
      style="--background: #180161"
    >
      <ion-icon name="pizza"></ion-icon>
    </ion-fab-button>
    <ion-fab-button
      (click)="accesoAutomatico('barman')"
      style="--background: #4535C1"
    >
      <ion-icon name="beer"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<div class="spinner" *ngIf="cargando">
  <div class="conteiner-img">
   <img src="../../assets/imagenes/spinner-icono.png" alt="Spinner" /> 
  </div>
</div> 
