<ion-tabs>
  <ion-tab-bar
    slot="bottom"
    style="--background: #8841c5; --color: rgb(255, 255, 255)"
  >
    <ion-tab-button tab="home">
      <ion-icon name="home" color="light"></ion-icon>
    </ion-tab-button>
    <!--Buton vacio para el qr para que ocupe esa posicion-->
    <ion-tab-button></ion-tab-button>
    <ion-tab-button tab="menu">
      <ion-icon name="person" color="light"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-fab
  slot="fixed"
  vertical="bottom"
  horizontal="center"
>
  <ion-fab-button color="tertiary">
    <ion-icon name="qr-code-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
