<ion-segment mode="ios" (ionChange)="cambiarVista($event)" [value]="opcionSeleccionada">
  <ion-segment-button value="Pedidos"> Pedidos </ion-segment-button>
  <ion-segment-button value="ChatsMesas"> Mesas </ion-segment-button>
</ion-segment>


<!---------------------- VISTA MOZO ------------------------------>
<div class="centrado">
  <div class="container">
    <!-------------LISTADO DE ASIGNADOS---------------->
    <div *ngIf="opcionSeleccionada === 'Pedidos'">
      <ion-card class="ion-margin" *ngFor="let pedido of listaPedidos">
        <ion-card-content>
          <div class="pedido-info">
            <div class="cliente-nombre">
              {{ pedido.emailUsuario }}
              <ion-chip style="font-size: medium;">
                {{ 'Mesa: ' + pedido.mesa }}
              </ion-chip>
            </div>
            <div class="detalles-estado-mesa">
              <ion-chip>
                {{ 'Estado Pedido: ' + pedido.estadoPedido }}
              </ion-chip>
            </div>
            <div class="fecha-total-pedido">
              <ion-note style="font-size: medium; color: black" color="medium">
                {{ 'Fecha Pedido: ' + pedido.fechaIngreso }}
              </ion-note>
              <ion-note style="font-size: medium; color: black ; margin: 2px 5px; font-weight: bold;">
                {{ 'Total: ' + pedido.precioTotal }}
              </ion-note>
            </div>
            <ion-button (click)="confirmarPedido(pedido)" expand="block" size="small">
              <ion-text color="light">{{ 
                pedido.estadoPedido === 'Esperando mozo' ? 'Aceptar' : 
                (pedido.estadoPedido === 'Pedido en preparación' ? 'En preparación' : 'Listo') }}
              </ion-text> <!---SI ACEPTO CAMBIA ESTADO A 'Pedido en preparación'-->
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
    <!-------------CHATS - DE LOS PEDIDOS EN CURSO----->
    <div *ngIf="opcionSeleccionada === 'ChatsMesas'">
      <div *ngFor="let pedido of listaPedidos">
        <div style="display: flex; flex-direction: column;">
          <ion-chip class="chats-mesas">
            {{ 'Mesa: ' + pedido.mesa }}
          </ion-chip>
        </div>
      </div>
    </div>  
  </div>
</div>




