<ion-segment mode="ios" (ionChange)="cambiarVista($event)" [value]="opcionSeleccionada">
  <ion-segment-button value="Pedidos"> Pedidos </ion-segment-button>
  <ion-segment-button value="ChatsMesas"> Consultas </ion-segment-button>
</ion-segment>


<!---------------------- VISTA MOZO ------------------------------>
<div class="centrado">
  <div class="container">
    <!-------------LISTADO DE ASIGNADOS---------------->
    <div *ngIf="opcionSeleccionada === 'Pedidos'">
      <div *ngFor="let pedido of listaPedidos; let i = index">
          <div class="pedido-info">
            <div class="card-header">
              <span>Mesa: {{ pedido.mesa }}</span>
            </div>
            <div class="detalles-estado-mesa">
              <ion-chip [style.background-color]="cambioEstadoColor(pedido.estadoPedido)">
                {{ 'Estado Pedido: ' + pedido.estadoPedido }}
              </ion-chip>
            </div>
            <div class="cliente-nombre">
              Cliente: {{ pedido.emailUsuario }}
            </div>
            <div class="fecha-total-pedido">
              <ion-note style="font-size: medium; color: black" color="medium">
                Fecha de Pedido: {{ pedido.fechaIngreso?.toDate() | date: 'dd/MM/yy HH:mm' }}
              </ion-note>
              <br />
              <ion-note class="precio-mozo" style="font-size: 1.1em; color: black ; margin: 2px 5px; font-weight: bold;">
                {{ 'Total: $' + pedido.precioTotal }}
              </ion-note>
            </div>
            <ion-button (click)="confirmarPedido(pedido)" expand="block" size="small" class="boton-mozo">
              <ion-text color="light">{{ obtenerEstado(pedido.estadoPedido) }}</ion-text>
            </ion-button>
          </div>
      </div>
    </div>
    <!-------------CHATS - DE LOS PEDIDOS EN CURSO----->
    <div *ngIf="opcionSeleccionada === 'ChatsMesas'">
      <div *ngFor="let pedido of pedidoServicio.coleccionPedidosEnCurso">
        <div style="display: flex; flex-direction: column;">
          <ion-chip class="chats-mesas" [routerLink]="['/chat', pedido.id]">
            {{ 'Mesa: ' + pedido.mesa }}
          </ion-chip>
        </div>
      </div>
    </div>
  </div>
</div>