ion-segment {
  margin-top: 5px;
  padding-bottom: 5px;
  color: aliceblue;
}

ion-segment-button {
  --indicator-color: #ce00ea;
}

ion-segment-button.ios {
  --color: #ce00ea;
  --color-checked: #fff;
  font-size: 17px;
  font-weight: bold;
  --border-radius: 20px;
}

.container {
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
}

.centrado {
  width: 100vw;
  height: 100vh;
  flex: auto;
  align-items: center;
  position: relative;
  overflow: hidden; // Asegura que el pseudo-elemento no se desborde
  background: url("../../../assets/imagenes/fondo-patron.png") no-repeat fixed center;
}

.pedido-info {
  background-color: #c8b5de;
  border-radius: 10px;
  margin-top: 20px;

  .card-header {
      font-size: 1.5em;
      background-color: rgb(156, 29, 224);
      color: white;

      span {
          font-weight: 700;
      }
  }

  .detalles-estado-mesa {
    ion-chip {
      font-size: 1.3em;
    }
  }

  .boton-mozo {
    height: 2.5em;

    ion-text {
      font-size: 1.3em;
      font-weight: 600;
    }
  }
}

.chats-mesas {
  --background: deeppink;
  color: white;
  font-size: large;
  font-weight: bold;
  margin: 1em;
  height: 10vh;
  justify-content: center;
}