<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title *ngIf="sesion.usuarioActual">
      {{ sesion.usuarioBD?.nombre }}
    </ion-title>
    <!-- <div class="footer-button" [routerLink]="'/chat'">
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
    </div> -->
  </ion-toolbar>
</ion-header>

<!-- <div class="contenido">
  <diV class="container-mensaje">
    <div class="mensaje"><!--ACA VA LOS MENSAJES ES RECORRER UNA LISTA DE MENSAJES-->
<!-- <div *ngFor="let unMensaje of listaMensajes">
        <div [class]="this.sesion.esMozo() ? 'mozo' : 'cliente'">
          <strong>
            {{ unMensaje.tipoEmisor === 'Mozo' ? 'Mozo: ' + unMensaje.nombreMozo : 'Mesa: ' + unMensaje.nroMesa }}
          </strong>
          <p>{{ unMensaje.mensaje }}</p>
          <ion-note>{{ unMensaje.fecha }}</ion-note>
        </div>
      </div>
    </div><!--ACA TERMINA EL CONTENEDOR DE MENSAJES-->
<!-- </diV>
  <form (ngSubmit)="enviarMensaje()">
    <ion-item lines="none">
      <ion-input
        [(ngModel)]="mensajeAEnviar"
        name="consulta"
        placeholder="Escriba su consulta..."
        type="text"
      ></ion-input>
      <ion-button type="submit" color="primary" fill="clear">
        <ion-icon slot="icon-only" name="send" style="height: 35px; width: 25px;"></ion-icon>
      </ion-button>
    </ion-item>
  </form>
</div> -->
<ion-content>
  <div class="imagen">
    <div class="row chat-body">
      <div
        class="col-12 chat-messages"
        *ngFor="let mensaje of listaMensajes; let last = last"
      >
        <div
          class="message"
          [ngClass]="mensaje.uidUsuario === this.sesion.usuarioBD?.email ? 'my-message' : 'other-message'">
          <div class="message-content">
            <p *ngIf="mensaje.uidUsuario !== this.sesion.usuarioBD?.email" class="nombre-usuario">
              
              {{ mensaje.uidUsuario }}
            </p>
            <!-- <p class="fecha">
              {{ (mensaje.fecha.seconds * 1000) | date : "dd-MM-yy HH:mm" }}
            </p> -->
            <p class="mensaje">{{ mensaje.mensaje }}</p>
          </div>
        </div>
        <div *ngIf="last" #scrollAnchor></div>
      </div>
    </div>
    <div class="row chat-footer">
      <input
        type="text"
        class="input-texto"
        placeholder="Escribe una consulta..."
        [(ngModel)]="nuevoMensaje"
      />
      <button class="btn" (click)="enviarMensaje()"></button>
    </div>
  </div>
</ion-content>
