<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title *ngIf="sesion.usuarioActual">
      {{ sesion.usuarioBD?.nombre }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="imagen">
    <div class="chat-body">
      <div class="col-12 chat-messages" *ngFor="let mensaje of listaMensajes; let last = last">
        <div class="message"
          [ngClass]="mensaje.uidUsuario === this.sesion.usuarioBD?.email ? 'my-message' : 'other-message'">
          <div class="message-content">
            <p *ngIf="this.sesion.usuarioBD?.tipo !== 'Mozo' && mensaje.uidUsuario !== this.sesion.usuarioBD?.email"
              class="nombre-usuario">
              {{ mensaje.uidUsuario }}
            </p>
            <p *ngIf="this.sesion.usuarioBD?.tipo === 'Mozo' && mensaje.uidUsuario !== this.sesion.usuarioBD?.email"
              class="nombre-usuario">
              Mesa: {{ mensaje.nroMesa }}
            </p>
            <p class="fecha">
              {{ mensaje.fecha?.toDate() | date: 'dd/MM/yy HH:mm' }}
            </p>
            <p class="mensaje">{{ mensaje.mensaje }}</p>
          </div>
        </div>
        <div *ngIf="last" #scrollAnchor></div>
      </div>
    </div>
    <div class="chat-footer">
      <input type="text" class="input-texto" placeholder="Escribe una consulta..." [(ngModel)]="nuevoMensaje" />
      <button class="btn" (click)="enviarMensaje()"></button>
    </div>
  </div>
</ion-content>

<app-tabs [usuario]="sesion.usuarioBD"></app-tabs>