<ion-segment mode="ios" (ionChange)="cambiarVista($event)" [value]="opcionSeleccionada">
  <ion-segment-button value="Pedidos"> Pedidos </ion-segment-button>
</ion-segment>

<div class="centrado">
  <div class="container">
    <div *ngIf="opcionSeleccionada === 'Pedidos'">
      <div *ngFor="let unProducto of listaFiltradaPorTipoUsuario">
        <div class="detalles-producto">
          <div class="mesa">
            Mesa: {{ unProducto.nroMesa }}
          </div>
          <div class="productos">
            <label><strong>Nombre: </strong>{{unProducto.nombreProducto}}</label>
            <label><strong>Cantidad: </strong>{{unProducto.cantidad}}</label>

            <label *ngIf="unProducto.estado === 'Pendiente'"><strong>Confirmar tiempo de preparación: </strong></label>
            <label *ngIf="unProducto.estado !== 'Pendiente'"><strong>Tiempo de preparación: </strong></label>
            <input type="text" [(ngModel)]="unProducto.tiempoPreparacion" placeholder="Tiempo estimado en minutos"
              [disabled]="unProducto.estado !== 'Pendiente'">
          </div>
          <ion-button
            (click)="cambiarEstadoProducto(unProducto.idProducto, unProducto.idPedido, unProducto.estado, unProducto.tiempoPreparacion)"
            expand="block" size="small">
            <ion-text color="light">{{unProducto.estado}}</ion-text>
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</div>