<ion-segment mode="ios" (ionChange)="cambiarVista($event)" [value]="opcionSeleccionada">
  <ion-segment-button value="Pedidos"> Pedidos </ion-segment-button>
  <ion-segment-button value="PedidosPendientes"> Pedidos Pendientes </ion-segment-button>
</ion-segment>

<!---------------------- VISTA COCINERO , BARTENDER -------------------------------->
<div *ngIf="( sesionServicio.esBartender() || sesionServicio.esCocinero() )"> 
   <!-------------LISTADO DE PEDIDOS PENDIENTES------->
    <div *ngIf="opcionSeleccionada === 'Pedidos'">
      <ion-card class="ion-margin">
        <!--<ion-img class="card-image" [src]="unaFoto.url"></ion-img>-->
        <ion-card-content>
          <div class="detalles-producto">
            <div class="productos detalles-producto">
              <label><strong>Producto:</strong>Cafe</label>
              <label><strong>Cantidad:</strong>2</label>
              <label><strong>Tiempo Estimado:</strong> 90 min</label>
            </div>         
            <ion-button (click)="confirmarProducto()" expand="block" size="small">
              <ion-text color="light">EN PREPARACIÓN</ion-text> <!---SI ACEPTO CAMBIA ESTADO A 'Listo para entregar'-->
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
    <!-------------LISTADO DE ASIGNADOS---------------->
    <div *ngIf="opcionSeleccionada === 'PedidosPendientes'">
      <ion-card class="ion-margin"><!--*ngFor="let unProducto of listaProductos"-->
        <!--<ion-img class="card-image" [src]="unaFoto.url"></ion-img>-->
        <ion-card-content>
          <div class="detalles-producto">
            <div class="productos detalles-producto">
              <label><strong>Producto:</strong>Cafe</label>
              <label><strong>Cantidad:</strong>2</label>
              <label><strong>Tiempo Estimado:</strong> 90 min</label>
            </div>         
            <ion-button (click)="confirmarProducto()" expand="block" size="small">
              <ion-text color="light">ACEPTAR</ion-text> <!---CAMBIARIA A 'En preparación'-->
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
</div>
