ion-segment {
  margin-top: 5px;
  padding-bottom: 5px;
  color: aliceblue;
}

ion-segment-button {
  --indicator-color: #ce00ea;
}

ion-segment-button.ios {
  --color: #ce00ea;
  --color-checked: #fff;
  font-size: 17px;
  font-weight: bold;
  --border-radius: 20px;
}

.centrado {
  width: 100vw;
  height: 100vh;
  flex: auto;
  align-items: center;
  position: relative;
  overflow: hidden; // Asegura que el pseudo-elemento no se desborde
  background: url("../../../assets/imagenes/fondo-patron.png") no-repeat fixed center;
}

.container {
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
  // overflow-y: auto;
}

.detalles-producto {
  display: flex;
  flex-direction: column;
  background-color: #d2c7ff;
  margin-top: 20px;
  border-radius: 20px;

  .mesa {
    background-color: rgb(156, 29, 224);
    color: white;
    font-size: 1.3em;
  }

  .productos {
    font-size: large;
    padding: 1em;

    label {
      margin-bottom: 0.5em;
      display: block;
    }

    input {
      background-color: white;
      color: #333;
      text-align: center;
    }
  }
}