<div class="container fondo">

  <div id="logo-imagen" class="logo-imagen">
    <img src="../../assets/imagenes/logo-elplatolisto-iso.png" alt="logo principal">
  </div>

  <div class="segunda-pantalla">
    <div id="bienvenidos" class="oculta">
      <p>Bienvenidos</p>
    </div>
  
    <div id="logo-texto" class="logo-texto oculta">
      <img src="../../assets/imagenes/logo-elplatolisto-texto.png" alt="logo principal texto">
    </div>
  
    <div id="nombres" class="oculta">
      <p class="nombre-alumna">Julieta Laplace</p>
      <p class="nombre-alumna">Laura Colque</p>
      <p class="nombre-alumna">Candela Bogado</p>
    </div>
  </div>

</div>