<div class="centrado">
  <ion-card-content>
    <div class="contenedor">
      <div class="img-titulo">
        <h1>¡Hola {{sesion.getUsuario().split('@')[0]}}!</h1>
        <img src="../../../assets/imagenes/logo-elplatolisto-iso-sin-banda.png" alt="">
      </div>

      <div class="texto">

        <h2>¡Gracias por registrarte en nuestra aplicación!</h2>
        <h3>
          Para poder acceder a la aplicación, tu cuenta debe ser <strong>aprobada</strong>. <br>
        </h3>
      
      </div>

      <div class="contenedor-btn">
        <button routerLink="/login" class="btn" (click)="cerrarSesion()">
          Volver
        </button>
      </div>
    </div>
  </ion-card-content>
</div>