// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/


@font-face {
    font-family: 'PrettyDahlia';
    src: url('../assets/fonts/PrettyDahlia.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}