ion-fab-button {
  width: 5em;
  height: 5em;
}
.footer-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: var(--background, #8841c5);
}

.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  color: var(--color, #ffffff);
  cursor: pointer;
}

.footer-button ion-avatar img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top: -1em;
  border: 5px solid rgb(189, 107, 233);
}

.footer-button ion-icon {
  font-size: 24px;
}
