<ion-footer>
  <div class="footer-bar" style="--background: #8841c5;">

    <div class="footer-button" *ngIf="sesion.esCliente() || sesion.esMaitre() || sesion.esMozo()" [routerLink]="['/home']">
      <ion-icon  name="home" color="light"></ion-icon>
    </div>

    <div class="footer-button" *ngIf="sesion.esCliente()" (click)="escanearQr()">
      <ion-icon name="qr-code"></ion-icon>
    </div>
    <div class="footer-button" *ngIf="sesion.esBartender() || sesion.esCocinero()" [routerLink]="['/alta-productos']">
      <ion-icon name="add-outline"></ion-icon>
    </div>
    <div class="footer-button" *ngIf="sesion.esDueno() || sesion.esSupervisor()" [routerLink]="['/alta-mesa']">
      <ion-icon name="add-outline"></ion-icon>
    </div>


    <div class="footer-button">

      <ion-avatar>
        <img alt="Imagen de Perfil del usuario" [src]="usuario?.fotoPerfil" />
      </ion-avatar>
    </div>


    <div class="footer-button" (click)="cerrarSesion()">
      <ion-icon name="exit-sharp" color="light"></ion-icon>
    </div>
  </div>
</ion-footer>