<div class="centrado">
  <ion-card-content>
    <div class="contenedor">
      <div class="img-titulo">
        <h1>¡Hola {{sesion.usuarioBD?.nombre}}!</h1>
        <img src="../../../assets/imagenes/logo-elplatolisto-iso-sin-banda.png" alt="">
      </div>

      <div *ngIf="mensajeAMostrar === 'listaEspera'" class="texto">

        <h2>Ya estás en nuestra lista de espera</h2>
        <h3>¡Esperamos que disfrutes tu paso por El Plato Listo!</h3>

      </div>

      <div *ngIf="mensajeAMostrar === 'yaTenesMesaAsignada'" class="texto">

        <h2>Ya tenés una mesa asignada: </h2>
        <h2><strong>Mesa N° {{pedido.pedidoUsuario?.mesa}}</strong></h2>
        <h3>¡Esperamos que disfrutes tu paso por El Plato Listo!</h3>

      </div>

      <div *ngIf="mensajeAMostrar === 'yaEstasEnListaEspera'" class="texto">

        <h2>¡Ya estás en la lista de espera!</h2>
        <h3>¡Esperamos que disfrutes tu paso por El Plato Listo!</h3>

      </div>

      <div *ngIf="mensajeAMostrar === 'mesaNoAsignada'" class="texto">

        <h2>¡Tu mesa aún no fue asignada!</h2>
        <h3>¡Esperamos que disfrutes tu paso por El Plato Listo!</h3>

      </div>

      <div *ngIf="mensajeAMostrar === 'mesaIncorrecta'" class="texto">

        <h2>¡Esta no es la mesa que te asignaron! </h2>
        <h2> <strong>Tu mesa es la N° {{pedido.pedidoUsuario?.mesa}}</strong></h2>
        <h3>¡Esperamos que disfrutes tu paso por El Plato Listo!</h3>

      </div>

      <div *ngIf="mensajeAMostrar === 'encuestaCompletada'" class="texto">

        <h2>¡Gracias por completar nuestra encuesta!</h2>
        <h3>¡Esperamos que hayas disfrutado tu paso por El Plato Listo!</h3>

      </div>
      <div *ngIf="mensajeAMostrar === 'estadoPedido'" class="texto">

        <h2>Estado del pedido: {{pedido.pedidoUsuario?.estadoPedido}}</h2>
        <h2>Tiempo de demora: {{pedido.pedidoUsuario?.tiempoPreparacion}}</h2>
        <h3>¡Esperamos que hayas disfrutado tu paso por El Plato Listo!</h3>

      </div>

      <div class="contenedor-btn" >
        <button routerLink="/home" class="btn" *ngIf="mensajeAMostrar !== 'encuestaCompletada'">
          Volver
        </button>
        <button routerLink="/cliente-pedido-en-curso" class="btn" *ngIf="mensajeAMostrar === 'encuestaCompletada' || mensajeAMostrar === 'estadoPedido' ">
          Volver
        </button>
      </div>
    </div>
  </ion-card-content>
</div>