<div class="centrado">
  <ion-card-content>
    <div class="contenedor">
      <div class="img-titulo">
        <h1>¡Hola {{sesion.getUsuario().split('@')[0]}}!</h1>
        <img src="../../../assets/imagenes/logo-elplatolisto-iso-sin-banda.png" alt="">
      </div>

      <div *ngIf="mensajeAMostrar === 'listaEspera'" class="texto">

        <h2>¡Te encontras en la lista de espera!</h2>
        <p>
         Esperá unos minutos hasta que un maitre te asigne una mesa para poder ubicarte y realizar el pedido.
        </p>
        <h5>¡Esperamos que disfrutes tu paso por El Plato Listo!</h5>
      
      </div>

      <div *ngIf="mensajeAMostrar === 'yaEstasEnListaEspera'" class="texto">

        <h2>¡Ya estás en la lista de espera!</h2>
        <p>
         Falta menos para que te asignen una mesa y puedas realizar tu pedido.
        </p>
        <h5>¡Esperamos que disfrutes tu paso por El Plato Listo!</h5>
      
      </div>

      <div *ngIf="mensajeAMostrar === 'mesaNoAsignada'" class="texto">

        <h2>¡Tu mesa aún no fue asignada!</h2>
        <p>
         Esperá unos minutos hasta que un maitre te asigne una mesa para poder ubicarte y realizar el pedido.
        </p>
        <h5>¡Esperamos que disfrutes tu paso por El Plato Listo!</h5>
      
      </div>

      <div *ngIf="mensajeAMostrar === 'mesaIncorrecta'" class="texto">

        <h2>¡Esta no es la mesa que te asignaron!</h2>
        <p>
         Por favor, hablá con el maitre y confirmá el número de mesa al que tenés que dirigirte.
        </p>
        <h5>¡Esperamos que disfrutes tu paso por El Plato Listo!</h5>
      
      </div>

      <div class="contenedor-btn">
        <button routerLink="/home" class="btn">
          Volver
        </button>
      </div>
    </div>
  </ion-card-content>
</div>