.centrado {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: url("../../../assets/imagenes/fondo-patron.png") no-repeat fixed center;
    z-index: -1; 
    color: rgb(34, 30, 30);
}
.contenedor {
    background-color: #a090dd;
    height: 80vh;
    width: 80vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.img-titulo{

    text-align: center;
    h1{
        margin: 20px;
        font-weight: 700;
        font-size: 32px;
    }
    img{
        height: 200px;
    }
}
.texto{
    
    margin: 20px;
    h2{
        text-align: center;
        margin: 20px 0px;
        font-weight: 500;
        font-size: 25px;
    }
    h3{
        text-align: center;
        margin: 20px 0px;
        font-weight: 500;
        font-size: 20px;
    }


}

.contenedor-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    .btn{
    
       font-size: 20px;
        font-weight: bold;
        color: white; 
        background: #9c1de0;
        border-radius: 20px;
        width: 70%;
    }
}