<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title *ngIf="sesion.usuarioActual">
      Inicio | Bienvenido, {{ sesion.usuarioBD?.nombre}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="sesion.usuarioActual">
  <div *ngIf="sesion.esSupervisor() || sesion.esDueno() ">
    <app-home-admin [usuario]="sesion.usuarioBD"></app-home-admin>
  </div>

  <div *ngIf="sesion.esMozo()">
    <app-home-mozo [usuario]="sesion.usuarioBD"></app-home-mozo>
  </div>

  <div *ngIf="sesion.esCliente()">
    <app-home-cliente [usuario]="sesion.usuarioBD"></app-home-cliente>
  </div>

  <div *ngIf="sesion.esMaitre()">
    <app-home-maitre [usuario]="sesion.usuarioBD"></app-home-maitre>
  </div>

  <div *ngIf="sesion.esCocinero() || sesion.esBartender()">
    <app-home-bartender-cocinero [usuario]="sesion.usuarioBD"></app-home-bartender-cocinero>
  </div>
</ion-content>

<app-tabs [usuario]="sesion.usuarioBD"></app-tabs>