<div class="centrado">
  <ion-card-content>
    <div class="form-container">

      <div class="form1" *ngIf="!ingresarAnonimo">
        <app-registro-cliente (spinnerActivo)="obtenerEstadoSpinner($event)"></app-registro-cliente>
      </div>

      <div class="form2" *ngIf="ingresarAnonimo">
        <app-registro-cliente-anon (spinnerActivo)="obtenerEstadoSpinner($event)"></app-registro-cliente-anon>
      </div>

      <div class="toggle">
        <ion-toggle [(ngModel)]="ingresarAnonimo" [checked]="false" aria-label="Tertiary toggle" 
          style="color: black;">Ingresar con usuario Anónimo</ion-toggle>
      </div>

    </div>
  </ion-card-content>
</div>

<div class="spinner" *ngIf="cargando">
  <div class="conteiner-img">
   <img src="../../assets/imagenes/spinner-icono.png" alt="Spinner" /> 
  </div>
</div> 