<div class="centrado">
  <ion-card-content>
    <div class="form-container">

      <div class="form1" *ngIf="!ingresarAnonimo">
        <app-registro-cliente></app-registro-cliente>
      </div>

      <div class="form2" *ngIf="ingresarAnonimo">
        <app-registro-cliente-anon></app-registro-cliente-anon>
      </div>

      <div class="toggle">
        <ion-toggle [(ngModel)]="ingresarAnonimo" [checked]="false" aria-label="Tertiary toggle" 
          style="color: black;">Ingresar con usuario Anónimo</ion-toggle>
      </div>

    </div>
  </ion-card-content>
</div>